<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Weather for Location</title>
      <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>

    {% set name = current_location_forecast["name"] %}
    <h1>Weather for location {{name}} Forecasts</h1>

    <div class="container">
        <div class="top-pad">
            {% set forecast_dict = current_location_forecast["forecasts"] %}

            {% for key_date in forecast_dict %}
                {% set days_forecast = forecast_dict[key_date] %}
                {% set the_date = current_date['value'] %}

                <!--  todo  formatt date  nicer but cant import date time into jinja and cant use strftime -->
                <h2>Date {{ key_date  }}</h2>
                    {# note: syntax for jinja comments
                    <h2>Date doesnt work now?? {{ new_date.strftime("%a %d %b %Y") }} </h2>
                    #}

                    <div class="flex-grid grid-header">
                        <div class="col"><b>Time</b></div>
                        <div class="col">Weather Type</div>
                        <div class="col">Temp</div>
                        <div class="col">Rain</div>
                    </div>

                <!--  Can iterate over nested JSON items, but only using one value, not two values like key-value pairs in dict - or for debuggging can do `<p> {{ i }} <p>` and output stuff to browser -->

                <!-- shows time intervals and forecast data -->
                {% for item in days_forecast %}
                     <div class="flex-grid">
                        <div class="col"> {{ item.time.strftime('%H%M') }} </div>
                         <!--   pass in value from json data of int to dict of weather_types to get string result - try  -->
                         <div class="col">
                             {% set w_type = item.weather_type  | int %}
                            {{ weather_types[w_type] }}
                        </div>
                        <div class="col">{{ item.temp }}</div>
                        <div class="col">{{ item.rain }}</div>
                    </div>

                {% endfor %}

            {% endfor %}

        </div>
    </div>

  </body>
</html>